
{% extends 'template.html.twig' %}

{% block title %}

notes
  
{% endblock %}
{% block pagetitle %}

notes
  
{% endblock %}
{% block body %}
  


<div class="example-wrapper">
    
    <table class = "table">
    
    {% for note in notes %}
    
        <tr>
        <td>{{ note }}</td>
        </tr>
    {%  endfor %}
    </table>
   
   
  <div class="alert alert-info"> 
  
  <p> le nombre des notes est : {{notes| length}}</p>
  <p> la notes maximale est : {{max(notes)}}</p>
  <p> la notes minimale est : {{min(notes)}}</p>
  </div>
</div>


{% endblock %}
